<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hanoi Model UN</title>
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/page.css" />
  </head>
  <body class="text-gray-200 bg-hmun-light-pink font-montserrat">
    <div class="text-center bg-hmun-yellow">
      <p>/// moe moe kyun~~~ under construction owo~~!💖 ///</p>
    </div>
    {% include "navbar.html" %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% include "footer.html" %}
  </body>
</html>
