<footer class="absolute bottom-0 py-8 w-full bg-hmun-pink">
  <div class="mx-auto w-5/6 text-left text-base/6">
    <p><strong>CONTACT INFORMATION</strong></p>
    <sub>
      <strong>Nguyễn Xuân Nhiên:</strong>
      +8496 432 8282 (Co-President - Secretary-General)
    </sub>
    <br />
    <sub>
      <strong>Quách Diệu Linh:</strong>
      +8496 593 4148 (Co-President - Secretary-General)
    </sub>
    <br />
    <sub>
      <strong>Mai Tú Uyên:</strong>
      +8490 223 3993 (Head of Public Relations)
    </sub>
    <br />
    <sub>
      <a class="underline" href="mailto:contact@hanoimun.org">Email</a>
      <a class="underline" href="https://www.instagram.com/hanoimodelunorg">Instagram</a>
      <a class="underline" href="https://www.facebook.com/HanoiMUN">Facebook</a>
    </sub>
  </div>

  <img class="absolute right-0 bottom-0 w-16" alt="nyaa~~~" src="/nyaaa.gif" />
</footer>