<footer class="py-8 bg-hmun-pink">
  <div class="mx-auto w-5/6 text-left">
    <p><strong>CONTACT INFORMATION</strong></p>
    <p>
      <strong>Nguyễn Xuân Nhiên:</strong>
      +8496 432 8282 (Co-President - Secretary-General)
    </p>
    <p>
      <strong>Quách Diệu Linh:</strong>
      +8496 593 4148 (Co-President - Secretary-General)
    </p>
    <p>
      <strong>Mai Tú Uyên:</strong>
      +8490 223 3993 (Head of Public Relations)
    </p>
    <p>
      <a class="underline" href="mailto:contact@hmun.org">email</a>
      <a class="underline" href="https://www.instagram.com/hanoimodelunorg/">
        instagram
      </a>
    </p>
  </div>
</footer>
