<nav
  class="flex justify-between items-end py-2 px-8 font-bold bg-hmun-dark-pink font-work-sans"

  <!-- left logo -->
  <a href="/">
    <img class="h-14" src="/logo.png" alt="logo" />
  </a>

  <!-- TODO: responsive hamburger menu -->

  <!-- horizontal menu -->
  <ul class="flex gap-x-8 transform -translate-y-4">
    {% set root = get_section(path="_index.md") %}
    {% for page in root.pages | sort(attribute="extra.order") %}
    {% if page.title != "HMUN" %}
    <li>
      <a
        class="text-hmun-white hover:text-hmun-light-pink"
        href="{{ page.permalink }}"
      >
        {{ page.title | upper }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>