h1, h2, h3, h4, h5, h6 {
    @apply font-schabo-condensed text-center text-3xl text-hmun-dark-red;
}

h1 {
    font-size: 45px;
    margin: 10px;
}

p, main li {
    font-size: 20px;
    @apply font-work-sans text-hmun-darker-red;
}

main ul {
    list-style-type: "- ";
    list-style-position: inside;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

/* nested indents */
li > ul, li > ol {
    margin-left: 10px;
}
